.Header
{
    background-color: #0ca2dd;
    width: 100%;
    height: 50px;

}
.logo
{
    height: 80px;
    width: 100px;
    padding-left: 17px;
    padding-top: 13px;
}

.logo img {height: 100%;}
.LangChange
{
    float: left;
    position: absolute;
    width: 171px;
    top: 10px;
    margin-left: 90%;
}

.lang 
{
    float: left;
    width: 14.33%;
    margin-right: 10px;
    cursor: pointer;
}
